{% extends 'base.html.twig' %}

{% block title %}Tasks Controller !{% endblock %}

{% block body %}



<div class="wrapper my-4 text-center ">
    <h1>Hello and welcome to Add Tasks.io !</h1>


<p>This friendly message is coming from:<p/>
    
    <ul>
        <li>Your controller at <code>C:/xampp/htdocs/Symfony project/project-d/src/Controller/TasksController.php</code></li>
        <li>Your template at <code>C:/xampp/htdocs/Symfony project/project-d/templates/tasks/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
